<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定mapper接口-->
<mapper namespace="dao.testMapper">
    <select id="getAll" resultType="user">
        select * from user;
    </select>

    <delete id="delete" parameterType="_int">
        delete from user where id = #{id};
    </delete>

    <update id="update" parameterType="map">
        update user set name=#{name} where id=#{id};
    </update>
</mapper>